<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="local" connectionString="server=(local);Initial Catalog=defaultdb;User ID=sa;Password=master;" providerName="System.Data.SqlClient"/>
    <add name="globalpc" connectionString="Server=216.251.68.5; Port=33036; Database=bd_demo_43; Uid=demo_43; Pwd=34TQx.102;" />
    <add name="aduanetm3.ldotx" connectionString="Server=189.206.120.155; Port=3310; Database=SAAIWEB; Uid=3112hostLTX; Pwd=h-B1dwF5FA;" />
    <add name="aduanetm3" connectionString="Server=189.206.120.155; Port=3310; Database=SAAIWEB; Uid=3112hostFEROLY; Pwd=h-897gtYr6;" />
  </connectionStrings>
  <appSettings>
    <add key="CIA.NAME" value="AFS FORWARDING"/>
    <add key="ADMIN.MAIL.TO" value="leonel.gonzalez@afsforwarding.com"/>
    <add key="Email.To.Debug" value="leonel.gonzalez@afsforwarding.com"/>
    <add key="ADMIN.MAIL.CC" value=""/>
    <add key="MongoHost" value="localhost"/>
    <add key="MongoPort" value="29019"/>
    <add key="MongoName" value="digital"/>
    <add key="deleteAfterProcessed" value="true"/>
    <add key="dashadmin" value="leonel.gonzalez@afsforwarding.com"/>
    <add key="dashsupport" value="leonel.gonzalez@afsforwarding.com"/>
    <add key="apppath" value="documentos\"/>
  </appSettings>
  <system.web>
    <!--
    <authentication mode="Forms">
      <forms name="MyAuthenCookie" protection="All" timeout="60" path="/" loginUrl="login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>-->
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="On" defaultRedirect="built404.aspx">
      <error statusCode="404" redirect="built404.aspx"/>
    </customErrors>
    <sessionState mode="InProc" cookieName="SALEInvoices_SessionId" timeout="120"/>
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="65536" maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/x-woff"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <location path="services">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="notificaciones@afsforwarding.com">
        <network enableSsl="true" host="vmail.globalpc.net" port="25" userName="notificaciones@afsforwarding.com" password="Afs01234*"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="services">
    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  </location>
</configuration>